.details {
  width: 550px;
  height: 400px;
  padding: 2rem;
  border-radius: 0px;
  padding-left: 2.5rem;
}

.image {
  width: 250px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}
