.theft-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  justify-content: center;
  background-color: #fff;
}

label {
  color: var(--secondary-color);
}

.picker {
  display: flex;
  justify-content: space-between;

  &-date {
    margin-right: 10px;
  }
}

.action-btn {
  margin-top: 20px;
  padding: 12px 24px;
  height: 60px;
  width: 126px;
  color: #fff !important;
  border-radius: 0 !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  .option-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

::ng-deep .mat-pseudo-checkbox {
  display: none !important;
}

.options-picker {
  display: flex;
  flex-direction: column;
  position: relative;

  &-option {
    padding: 7px 10px;
  }

  &-text {
    margin: 0;
  }
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(0, 0, 0, 1) !important;
}
