.header {
  max-width: var(--max-content-width);
  height: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url('../../../../assets/images/logo.png');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  z-index: 150;
}
