.search-container {
  width: 400px;
  margin: 2rem;
  margin-top: 6rem;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  background-color: #fff;
}

.label {
  margin-bottom: 1rem;
}
