.search-container {
  max-width: 400px;
  margin-top: 8rem;
  margin-left: 1.5rem;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  background-color: #fff;
}

.label {
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .search-container {
    margin-left: 0;
  }
}
