<mat-card *ngIf="review" class="review-card">
  <mat-card-header>
    <div mat-card-avatar class="user-icon" *ngIf="review.user?.avatar?.thumbnail">
      <img [src]="review.user?.avatar?.thumbnail" alt="Avatar">
    </div>
    <mat-card-title>{{ review.title }}</mat-card-title>
    <mat-card-subtitle>{{ review.published_date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ review.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="primary"
      mat-button
    >Antworte...
    </button>
  </mat-card-actions>
</mat-card>
