<div class="slick-wrapper">
  <ngx-slick-carousel class="carousel"
                      [config]="sliderConfig"
                      #slickModal="slick-carousel"
                      (init)="slickInit($event)"
                      (breakpoint)="breakpoint($event)"
                      (afterChange)="afterChange($event)"
                      (beforeChange)="beforeChange($event)"
  >
    <div
      ngxSlickItem
      *ngFor="let photo of locationPhotos$ | async"
      class="slide"
    >
      <img
        [src]="photo.images?.medium?.url"
        [alt]="photo.caption"
        width="500px"
        height="300px"
      />
    </div>
  </ngx-slick-carousel>
</div>
