.bike-card {
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bold-text {
  font-weight: 400;
}

@media (max-width: 400px) {
  .bike-card {
    width: 300px;
  }
}



