<mat-card *ngIf="bike" class="bike-card">
  <mat-card-header>
    <div mat-card-avatar class="bike-icon">
      <mat-icon>place</mat-icon>
    </div>
    <mat-card-title>{{ bike.title }}</mat-card-title>
    <mat-card-subtitle
    >{{ bike.description }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>Gestolen am: {{ bike.date_stolen | date: "dd/MM/yyyy" }}</p>
    <p>Gestolen in: {{ bike.stolen_location }}</p>

  </mat-card-content>
  <mat-card-actions>
    <button
      class="action-btn"
      color="primary"
      mat-button
      (click)="renderBikeDetails(bike.id)"
    >
      Details...
    </button>
  </mat-card-actions>
</mat-card>

