.footer-wrapper {
  height: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.developer-info {
  display: flex;
  gap: 0.5rem;
}
