.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: var(--secondary-color);

  &.bg-solid {
    * {
      color: #49454f;
    }
  }
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
