@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat.core();

$esentri-palette: (
  50: #99cc33,
  100: #99cc33,
  200: #99cc33,
  300: #99cc33,
  400: #99cc33,
  500: #99cc33,
  600: #99cc33,
  700: #99cc33,
  800: #99cc33,
  900: #99cc33,
  A100: #fff,
  A200: #fff,
  A400: #fff,
  A700: #fff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgb(225, 222, 222),
    600: rgb(210, 209, 209),
    700: rgb(170, 168, 168),
    800: rgb(183, 182, 182),
    900: rgb(127, 125, 125),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgb(145, 143, 143),
    A700: rgb(217, 214, 214),
  ),
);

$where_client-primary: mat.define-palette($esentri-palette, 500);
$where_client-accent: mat.define-palette($esentri-palette, A400, A200, A700);
$where_client-warn: mat.define-palette(mat.$red-palette);
$custom-success: mat.define-palette($esentri-palette);
$custom-danger: mat.define-palette(mat.$indigo-palette);

$where_client-theme: mat.define-light-theme(
    (
      color: (
        primary: $where_client-primary,
        accent: $where_client-accent,
        warn: $where_client-warn,
      ),
    )
);

@include mat.all-component-themes($where_client-theme);

.mat-success {
  background-color: var(--secondary-color);
  color: white;
}

.mat-danger {
  background-color: mat.get-color-from-palette($custom-danger, 500);
  color: mat.get-color-from-palette($custom-danger, 500 -contrast);
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: white;
}

.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: var(--secondary-color);
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: white;
  background-color: var(--secondary-color);
}

.mat-icon-button.mat-success {
  color: white;
}

:root {
  --light-grey: #e0e0e0;
  --grey: #969696;
  --dark-grey: #333;
  --primary-color: #5c5c5c;
  --secondary-color: #99cc33;

  // sizes
  --header-height: 90px;
  --footer-height: 90px;
  --max-content-width: 1200px;
  --container-width: 1200px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.05rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--dark-grey);
  box-sizing: inherit;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-header {
  height: var(--header-height);
  background-color: rgba(51, 51, 51, 1);
  z-index: 100;
}

app-main-page,
app-locations-page,
app-selected-location-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: scroll;
}

app-footer {
  height: var(--footer-height);
  margin-top: auto;
  flex-shrink: 0;
  background-color: rgba(51, 51, 51, 1);
  z-index: 100;
}

.slick-wrapper {
  width: 100%;
  margin: 1rem auto;
  overflow-y: hidden;
}

.slick-slider {
  width: 88%;
  margin: auto;
}

body .slick-prev,
body .slick-next {
  //height: 100%;
  //width: 100%;
  height: 45px;
  width: 40px;
  z-index: 100;
}
